.canvas1 {
    margin-top: 10px;
    margin-left: 48px;
}

.canvas2 {
    margin-top: 10px;
    margin-left: 30px;
}

.topArea {
    padding-top: 15px;
    margin-left: 48px;

}

.interact {
    width: 350px;
    display: inline;

}

.emoji {
    background-color: whitesmoke;
    width: 350px;
    margin-left: 30px;
    float: left;
    display: inline;

}

.emoji .detail {
    width: 35px;
    cursor: pointer;
}

.gameInstrument {
    /*width: 300px;*/
    /*height: 300px;*/
    float: right;
    /*padding-top: 300px;*/
    background-size:cover;
    position: relative;
    top: 250px;
    right: 50px;
}


.gameInstrument .text {
    color: white;
    position: relative;
    left: 44px;
    top: 45px;
    font-size: 0.8em;
}
